NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://trustchain:trustchain@localhost:5432/trustchain
CORS_ORIGIN=http://localhost:5173

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=trustchain
MINIO_USE_SSL=false

SMTP_HOST=localhost
SMTP_PORT=1025

CHAIN_RPC_URL=http://127.0.0.1:8545
CHAIN_NETWORK=localhost
CHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
